<form {{on "submit" this.createProject}}>
  <label>Project name {{input value=this.name}}</label>
  <label>Order {{input value=this.order type="number"}}</label>

  <button type="submit">Create project</button>
</form>

{{yield}}
