<Solid::AutoLogin />

<h1>Tracking stuff on SOLID</h1>

<button type="button" {{on "click" this.save}}>Save changes</button>

{{#each this.sortedProjects as |project|}}
  <TimeTracker::Project::Update @project={{project}} />
{{/each}}

New project:
<TimeTracker::Entry::Project @onCreate={{this.refresh}} />

{{outlet}}
